<h1>Add a song, broh.</h1>
<hr/>

<% if @music.errors.any? %>
   <div>
     <strong>Some issues with your input, please fix them:</strong>
     <ul>
       <% @music.errors.full_messages.each do |song| %>
         <li><%= song %></li>
       <% end %>
     </ul>
   </div>
<% end %>

<form method ="post" action="/music">
  <div>
    <label>Song Title: </label>
    <input type="text" name="song_title" value="<%= @music.song_title %>">
  </div>
  <div>
    <label>Artist: </label>
    <input type="text" name="artist" value="<%= @music.artist %>">
  </div>
  <div>
    <% if current_user.username == "stranger" %>
    <label>Author: </label>
    <input type="text" name="author" value="<%= @music.author %>">
    <% end %>
  </div>
  <div>
    <label>Url: </label>
    <input type="text" name="url" value="<%= @music.url %>">
  </div>
  <div>
    <input class="btn btn-lg btn-primary" type="submit" value="POST IT BRONOVSKI!!">
  </div>
</form>
</br>

<a class="btn btn-warning" href="/music">BACK TO SENPAIS</a>